@import '@gouvfr/dsfr/dist/utility/icons/icons.main.css';
@import '@gouvfr/dsfr/dist/dsfr.main.css';

/* FONTS */
@font-face {
  font-family: Marianne-Medium;
  src: url('/fonts/Marianne-Medium.woff2');
}

/* TRANSFORMS */
.ty10 {
  transform: translateY(-0.5rem) !important;
}

.ty17 {
  transform: translateY(1.7rem) !important;
}

/* MARGINS TOP */
.mt1 {
  margin-top: 1rem;
}

.mt2 {
  margin-top: 2rem;
}

.mt3 {
  margin-top: 3rem;
}

.mt4 {
  margin-top: 4rem;
}

/* MARGINS BOTTOM */
.mb1 {
  margin-bottom: 1rem;
}

.mb2 {
  margin-bottom: 2rem;
}

.mb3 {
  margin-bottom: 3rem;
}

.mb4 {
  margin-bottom: 4rem;
}

/* MARGINS LEFT */
.mlauto {
  margin-left: 0 auto;
}

.ml-quote {
  margin-left: 4rem !important;
}

.ml0 {
  margin-left: 0;
}

.ml1 {
  margin-left: 1rem;
}

.ml2 {
  margin-left: 2rem;
}

.ml3 {
  margin-left: 3rem;
}

.ml4 {
  margin-left: 4rem;
}

/* MARGINS RIGHT */
.mr1 {
  margin-right: 1rem;
}

.mr2 {
  margin-right: 2rem;
}

.mr3 {
  margin-right: 3rem;
}

.mr4 {
  margin-right: 4rem;
}

.text-center {
  text-align: center;
}

.picto {
  width: 17px;
  height: 17px;
  transform: translateY(0.2rem);
  margin-right: 0.6rem;
}

.banner {
  width: 100%;
  height: 180px;
  background-size: 100%;
}

.banner-title {
  padding-top: 40px;
  user-select: none;
  max-width: 780px;
  text-align: center;
  margin: 0 auto;
}

.sublink {
  font-family: Marianne-Medium, sans-serif;
  font-size: 14px;
  color: #000072;
  text-decoration: none;
  padding-right: 0.3rem;
  padding-bottom: 0.35rem;
}

.sublink:hover {
  background-color: rgb(245 245 254) !important;
}

.subspace {
  margin-left: 0.6rem;
  margin-right: 0.3rem;
}

.margin-footer {
  min-height: 60vh;
}

.fr-nav__link:focus {
  color: #000091;
}

.flexrow-container {
  display: flex;
  justify-content: center;
  margin: 16px;
}

.left {
  display: flex;
  justify-content: flex-start !important;
}

.center {
  display: flex;
  justify-content: center !important;
}

.right {
  display: flex;
  justify-content: flex-end !important;
}

.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 32px 16px;
  margin: 0 auto;
}

.grid3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 32px;
  margin: 0 auto;
}

.right-arrow-card-transform {
  transform: translate(17px, -27px) !important;
}

.card-img {
  width: 310px;
  height: 220px;
}

.fr-card {
  word-wrap: break-word;
}

.mt1.title-horizontal {
  margin-left: 5px;
  margin-right: 50px !important;
}

.grey625 {
  color: #929292;
}

.width-card-without-image {
  width: 600px;
  height: 300px;
}

.textarea {
  margin-top: 32px;
  margin-bottom: 32px;
  word-wrap: break-word;
  max-width: 1100px;
  word-break: break-all;
}

.ml40 {
  margin-left: 35%;
}

.champ-de-blocs {
  background-color: #e3e3fd;
  width: 100%;
  padding: 48px;
}

.bloc-simple {
  background-color: white;
  box-shadow: 0 0.32rem 1px #000091;
  padding: 16px;
  user-select: none;
  height: 105px;
  transition: 0.3s;
  margin-bottom: 8px;
}

.vertical-card-arrow {
  color: rgb(0 0 145);
  position: absolute;
  bottom: 24px;
  right: 24px;
}

.ellipsis-text {
  text-overflow: ellipsis;
}

.blue-text {
  color: #000091;
  font-weight: bold;
}

.fixed-navigation {
  position: absolute;
  font-weight: bold;
  font-size: 20px;
}

.fixed-nav {
  position: fixed;
  transform: translateY(-162px);
}

.translate-header-margin {
  transform: translateY(-55px);
}

.anchor {
  line-height: 3rem;
  display: block;
  transition: 1s;
}

.anchor:hover {
  transition: 1s;
}

.grey-75 {
  color: rgb(30 30 30) !important;
}

.rose {
  background-color: #fedbfa !important;
}

.jaune {
  background-color: #fde39c !important;
}

.vertical-picture-card {
  margin: 0;
  padding: 0;
}

.fr-quote {
  margin-top: 32px;
  margin-bottom: 32px;
}

.horizontal-container {
  cursor: pointer;
  display: flex;
  max-width: 100%;
  margin-top: 16px;
  margin-right: 16px;
  position: relative;
  margin-bottom: 16px;
}

.horizontal-image {
  max-width: 250px;
  max-height: 350px;
  min-height: 300px;
  width: 100%;
  height: auto;
  margin-right: 16px;
  object-fit: cover;
}

.horizontal-card-content {
  margin-left: 16px;
  margin-right: 16px;
  overflow: hidden;

  /* text-overflow: ellipsis !important;
  white-space: nowrap; */
}

.horizontal-arrow {
  position: absolute;
  bottom: 32px;
  right: 32px;
}

.card-label {
  display: inline-block;
  width: fit-content;
  border-radius: 20px;
  padding: 2px 4px;
  margin-top: 16px;
  margin-right: 8px;
  font-size: 16px;
}

.fr-card__body {
  overflow: hidden;
  text-overflow: ellipsis !important;
}

.horizontal-label {
  color: rgb(0 0 145);
  font-size: 12px;
  margin-left: 32px;
  margin-bottom: 16px;
  padding-right: 6px;
  padding-left: 6px;
  border-radius: 50px;
  background-color: #e3e3fd;
  width: fit-content;
}

.horizontal-title {
  padding-left: 32px;
  padding-right: 32px;
}

.horizontal-paragraph {
  padding-left: 32px;
  padding-right: 32px;
}

.horizontal-border {
  border: 1px solid rgb(219 219 219);
}

.horizontalcard-min {
  min-width: 400px;
  height: 400px;
}

.horizontalcard-medium {
  min-width: 600px;
  height: 300px;
}

.horizontalcard-max {
  width: 1000px;
}

.bloc-simple [target='_blank']::after {
  content: none;
}

.linkcard [target='_blank']::after {
  content: none !important;
}

.horizontal-container [target='_blank']::after {
  content: none;
}

.fr-card [target='_blank']::after {
  content: none;
}

.fr-btn--close.fr-btn:focus {
  display: none;
}

/* HEIGHTS HORIZONTAL CARDS */
.h204 {
  height: 204px;
}

.h256 {
  height: 256px;
}

.h308 {
  height: 308px;
}

/* WIDTHS HORIZONTAL CARDS */
.w340 {
  width: 400px;
}

.w550 {
  width: 550px;
}

.w996 {
  width: 996px;
}

.footer-padding {
  padding-left: 64px !important;
  padding-right: 38px !important;
}

.download-container {
  border: 1px solid rgb(206 206 206);
  padding: 16px 48px 16px 32px;
  margin: 32px;
  width: fit-content;
}

.disable-download-link {
  color: rgb(180 177 177) !important;
  cursor: not-allowed !important;
}

/* LABELS COLORS */
.purple {
  background-color: #e3e3fd;
}

.success {
  background-color: #6fe49d;
}

.error {
  background-color: rgb(250 109 109);
}

.info {
  background-color: #b6cffb;
}

.purple-glycine {
  background-color: #fddafa;
}

.yellow-tournesol {
  background-color: #fde39c;
}

/* BG COLORS */
.beige-bg {
  background-color: rgb(247 235 229);
}

.green-bg {
  background-color: rgb(195 250 213);
}

.grey-bg {
  background-color: rgb(238 238 238);
}

.mh250 {
  min-height: 250px;
}

.mh300 {
  min-height: 280px;
}

.mw400 {
  min-width: 400px;
}

@media (width <= 1620px) {
  .margin-quote {
    margin-left: 20%;
  }
}

@media (width <= 1420px) {
  .margin-quote {
    margin-left: 30%;
  }
}

@media (width <= 1350px) {
  .banner-image {
    display: none;
  }
}

@media (width <= 992px) {
  .grid2 {
    grid-template-columns: auto;
  }

  .grid3 {
    grid-template-columns: auto;
  }

  .width-card-without-image {
    width: 300px;
  }

  .ml40 {
    margin-left: 0;
  }

  .fixed-navigation {
    display: none;
  }

  .mlauto {
    margin-left: 0;
  }

  .bloc-simple {
    min-height: 200px;
  }

  .footer-left-button {
    margin-left: 14%;
  }

  .footer-title {
    padding-left: 14%;
  }

  .fr-content-media {
    width: 400px !important;
  }

  .mh250 {
    min-height: 220px;
  }

  .mh300 {
    min-height: 250px;
  }

  .mw400 {
    min-width: 200px;
  }

  .media-img500px {
    width: 300px !important;
  }

  .media-img700px {
    width: 500px !important;
  }

  .media-img900px {
    width: 700px !important;
  }

  .sticky-header {
    position: relative !important;
    top: 0;
    transform: translateY(0);
  }

  .fr-card__body {
    width: 300px !important;
    height: 400px !important;
  }

  .fr-responsive-img {
    width: 300px !important;
  }

  .fr-quote__image {
    display: none;
  }

  .margin-quote {
    margin-left: 200px;
    max-width: 700px !important;
  }

  .title-horizontal {
    font-size: 16px;
    width: 500px !important;
    margin-top: 0;
  }

  .px300 {
    width: 300px;
  }

  .px600 {
    width: 550px !important;
  }

  .px900 {
    width: 550px !important;
  }

  .py300 {
    height: 300px;
  }

  .py600 {
    height: 550px !important;
  }

  .py900 {
    height: 550px !important;
  }

  .py2300 {
    height: 2300px !important;
  }

  .rollingcard-bloc {
    flex-direction: column !important;
  }

  .horizontal-container {
    cursor: pointer;
    display: flex;
    max-width: 100%;
    margin: 16px auto;
    position: relative;
    margin-bottom: 16px;
  }

  .horizontal-image {
    max-height: 100px !important;
    width: 100%;
    height: auto;
    margin-right: 0;
  }

  .horizontal-paragraph {
    margin-top: -15px !important;
  }

  /* HEIGHTS HORIZONTAL CARDS
  .h204 { height: 204px; } .h256 { height: 200px; } .h308 { height: 200px; }
  /* WIDTHS HORIZONTAL CARDS */

  /* .w340 { width: 350px !important; } .w550 { width: 350px !important; } .w996 { width: 350px !important; } */
}

@media (width <= 570px) {
  .fr-quote__image {
    display: none;
  }

  .mt1.title-horizontal {
    margin-top: 20px !important;
  }

  .horizontal-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    position: relative;
  }

  .horizontal-image {
    max-height: 100px !important;
    width: 100%;
    height: auto;
    margin-right: 0;
  }

  .horizontal-card-content {
    flex: 1;
    text-align: center;
    margin: 16px;
  }

  .horizontal-arrow {
    position: absolute;
    bottom: 32px;
    right: 32px;
  }

  /* HEIGHTS HORIZONTAL CARDS */
  .h204 {
    height: 204px;
  }

  .h256 {
    height: 200px;
  }

  .h308 {
    height: 200px;
  }

  /* WIDTHS HORIZONTAL CARDS */
  .w340 {
    width: 90% !important;
  }

  .w550 {
    width: 90% !important;
  }

  .w996 {
    width: 90% !important;
  }

  .fr-content-media {
    width: 300px !important;
  }

  .sticky-header {
    position: relative !important;
    top: 0;
    transform: translateY(0);
  }

  .media-img500px {
    width: 350px !important;
  }

  .media-img700px {
    width: 350px !important;
  }

  .media-img900px {
    width: 350px !important;
  }

  .px300 {
    width: 300px;
  }

  .px600 {
    width: 350px !important;
  }

  .px900 {
    width: 350px !important;
  }

  .py300 {
    height: 300px;
  }

  .py600 {
    height: 350px !important;
  }

  .py900 {
    height: 350px !important;
  }

  .title-link {
    left: 0 !important;
    bottom: 0 !important;
  }

  .title-horizontal {
    font-size: 16px;
    width: 250px !important;
    margin-top: 0 !important;
  }

  .horizontal-title {
    padding-left: 8px;
    padding-right: 8px;
  }

  .horizontal-paragraph {
    padding-left: 8px;
    padding-right: 8px;
  }

  .margin-quote {
    margin-left: 0%;
    max-width: 300px !important;
  }
}

.ty450 {
  transform: translateY(460px);
}

.hover-horizontalcard:hover {
  background-color: rgb(247 247 248) !important;
}

.sticky-header {
  position: sticky;
  z-index: 999;
  top: 0;
  transform: translateY(-120px);
}

a {
  background-image: none !important;
}

.title-anti-enlarge.fr-enlarge-link:hover {
  background-color: transparent;
}

.hover-title-link.fr-link.fr-link--sm {
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 3px;
}

.hover-title-link.fr-link.fr-link--sm:active {
  background-color: #cacafb;
}

.hover-title-link.fr-link.fr-link--sm:hover {
  background-color: #e3e3fd;
  border-radius: 40px;
}

.headerlink.sublink::after {
  content: none;
}

.title-link {
  transform: translateY(8px);
  position: absolute;
  right: 0;
}

/* TAILLES IFRAME */
.px300 {
  width: 300px;
}

.px600 {
  width: 600px;
}

.px900 {
  width: 900px;
}

.py300 {
  height: 300px;
}

.py600 {
  height: 600px;
}

.py900 {
  height: 900px;
}

.py2300 {
  height: 2300px;
}

.delimiter {
  margin-top: 2px;
  margin-left: 10px;
  width: 1px;
  height: 25px;
  background-color: rgb(221 221 221);
}

.rollingcard-container {
  margin: 16px;
  z-index: 10;
  position: relative;
  display: block;
  cursor: pointer;
  min-height: 100px;
  padding: 20px;
  width: 70%;
  border: 1px solid rgb(221 221 221);
}

.rollingcard-container:hover {
  background-color: rgb(252 252 252);
}

.rollingcard-content {
  min-height: 50px;
}

.rollingcard-content-close {
  animation: disappear 0.5s forwards;
}

@keyframes disappear {
  from {
    opacity: 1;
    min-height: 50px;
  }

  to {
    opacity: 0;
    max-height: 0;
    min-height: 0;
  }
}

.rollingcard-content-open {
  animation: appear 0.5s forwards;
}

@keyframes appear {
  from {
    opacity: 0;
    min-height: 0;
  }

  to {
    opacity: 1;
    min-height: 50px;
  }
}

.rollingcard-bloc {
  display: flex;
  flex-direction: row;
  border: 1px solid rgb(221 221 221);
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.rollingcard-bloc-label {
  border-radius: 20px;
  color: rgb(0 0 145);
  background-color: #e3e3fd;
  padding: 5px;
  white-space: nowrap;
  margin: auto;
  margin-right: 10px;
}

.rollingcard-bloc-text {
  margin-bottom: -20px;
  flex-grow: 1;
}

.hidden {
  display: none;
}

.rollingcard-separator {
  margin: 0 auto;
  width: 70%;
  height: 1px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: rgb(221 221 221);
}

.fr-btn--menu.fr-btn::selection {
  background-color: white !important;
}

.fr-btn--menu.fr-btn:focus {
  background-color: white !important;
}

.rollingcard-arrow-open {
  animation: rollingcard-rotate-arrow-open 0.5s forwards;
}

.rollingcard-arrow-close {
  animation: rollingcard-rotate-arrow-close 0.5s forwards;
}

@keyframes rollingcard-rotate-arrow-open {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(180deg);
  }
}

@keyframes rollingcard-rotate-arrow-close {
  0% {
    transform: rotateZ(180deg);
  }

  100% {
    transform: rotateZ(0deg);
  }
}

.fr-breadcrumb {
  z-index: 10;
}

.decal-breadcumb {
  margin-top: -286px;
  margin-bottom: 270px;
}

.bannertitle-container {
  width: 100%;
  height: 270px;
  margin-bottom: 32px;
  background-color: #ececfe;
  text-align: center !important;
}

.toolsdevices.fr-card.fr-enlarge-link .fr-card__title a::after {
  content: none !important;

  --icon-size: 0 !important;
}

.fr-card.fr-enlarge-link.fr-card__title.a::after {
  content: none !important;

  --icon-size: 0 !important;
}

.media-img500px {
  width: 500px;
}

.media-img700px {
  width: 700px;
}

.media-img900px {
  width: 900px;
}

.fr-card.horizontal-custom {
  display: flex;
  flex-direction: initial;
}

.fr-h-100 {
  height: 100%;
}

.fr-w-100 {
  width: 100%;
}

.fr-tag--blue-france {
  background-color: var(--background-contrast-blue-france) !important;
  color: var(--text-action-high-blue-france) !important;
}

.fr-text--capitalize {
  text-transform: capitalize !important;
}

.fr-header__operator img {
  max-width: 9rem;
}

.fr-mx-auto {
  margin-right: auto;
  margin-left: auto;
}
